@font-face {
  font-family: face1;
  src: url(../Fonts/ReadexPro-Regular.ttf);
  weight:400;
}
@font-face {
  font-family: face2;
  src: url(../Fonts/ReadexPro-Medium.ttf);
  weight:500;
}
@font-face {
  font-family: face;
  src: url(../Fonts/ReadexPro-Bold.ttf);
  weight:600;
}
button:hover{
  background-color:#2b8ad7 !important;
}